@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
   
}
.header{
    background-color: #1F2937;
    color: white;
    padding: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.logo a{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    text-decoration: none;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
   font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: 500;
}