@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
   
}
.header, #hero, .footer{
    background-color: #1F2937;
    color: white;
    padding: 20px;
}
.nav, .hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}
.logo a{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    text-decoration: none;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a{
   font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: 500;
}
.hero__content{
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
    gap: 20px;
}
.hero__content-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero__content-subtext{
    font-size: 24px;
    color: #F9FAF8
}
.hero__content-button{
    padding: 15px 30px;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
   width: 150px;
}
.hero__image{
    max-width: 100%;
    
    height: auto;
}
.more-info{
    background-color: #fff;
    text-align: center;
    padding: 40px 20px;
}
.more-info h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 20px;
}
.card-wrapper{

    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.info-card{
   display: flex;
   flex-direction: column;
   align-items: center;
    gap: 10px;
 
}
.card-box{
    width: 200px;
    height: 150px;
    border-radius: 16px;
    border: 1px solid #0364f5;
}
.quote{
    background-color: #E5E7EB;
   
    padding: 60px 20px;
    
}
.quote h3{
    max-width: 800px;
    margin: 0 auto;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}
.quote span{
    display: block;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
    color: #374151;
    position: absolute;
    left: 60%;
    
}
.subscription{
    max-width: 800px;
    margin: 0 auto;
   
    padding: 40px 20px;
}
.subscription__content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #0364f5;
    padding: 40px 60px;
    border-radius: 16px;
}
.subscription__content-title{
    font-size: 36px;
    color: #F9FAF8;
    font-weight: 600;
}
.subscription__content-subtext{
    font-size: 16px;
    color: #F9FAF8;
    margin-top: 10px;
}
.subscription__content-btn{
   padding: 8px 30px;
   border-radius: 12px;
   border: 1px solid #F9FAF8;
    background-color: transparent;
    color: #F9FAF8;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    width: 140px;
}
.footer{
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #9CA3AF;
}